---
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar"
import ToggleThemeButton from "./ToggleThemeButton.astro"
---

<header class="max-w-prose w-full flex items-center gap-3 pt-3 mx-auto">
  <Avatar size="lg" class="size-24">
    <AvatarImage src="https://github.com/LaythAlqadhi.png" alt="" />
    <AvatarFallback>LA</AvatarFallback>
  </Avatar>
  <div class="flex flex-col">
    <span class="text-2xl font-semibold">Layth Alqadhi</span>
    <span class="text-muted-foreground">Software Developer</span>
    <span class="text-muted-foreground">Erbil, Iraq</span>
  </div>
  <ToggleThemeButton />
</header>
